<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <f:render partial="FlashMessages" />
    <f:render partial="ValidationResults" />
    <f:render partial="ShopNavigation" />

    <f:if condition="{cart.products}">
        <f:then>
            <f:form action="checkout" object="{cart}" name="cart" method="post" enctype="multipart/form-data">
                <f:render partial="ProductTable" arguments="{_all}" />
                <f:render section="renderMemberForm" arguments="{_all}" />
                <button type="submit" class="btn btn-primary">
                    <f:translate key="orderWithCosts" />
                </button>
            </f:form>
        </f:then>
        <f:else>
            <f:translate key="noProducts" />
        </f:else>
    </f:if>
</f:section>

<f:section name="renderMemberForm">
    <dl>
        <dt><label><f:translate key="memberId" /></label></dt>
        <dd>
            <f:form.textfield property="memberId" /><br>
            <small><f:translate key="memberIdDescription" /></small>
        </dd>
        <dt><label><f:translate key="firstName" /></label></dt>
        <dd><f:form.textfield property="firstName" /></dd>
        <dt><label><f:translate key="lastName" /></label></dt>
        <dd><f:form.textfield property="lastName" /></dd>
        <dt><label><f:translate key="address" /></label></dt>
        <dd><f:form.textfield property="address" /></dd>
        <dt><label><f:translate key="zip" /></label></dt>
        <dd><f:form.textfield property="zip" /></dd>
        <dt><label><f:translate key="city" /></label></dt>
        <dd><f:form.textfield property="city" /></dd>
        <dt><label><f:translate key="email" /></label></dt>
        <dd><f:form.textfield property="email" /></dd>
    </dl>
</f:section>
