<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="OrderMail" />

<f:section name="main">
    <h2><f:translate key="memberData" /></h2>

    <table>
        <tbody>
        <tr>
            <td><f:translate key="memberId" /></td>
            <td>{cart.memberId}</td>
        </tr>
        <tr>
            <td><f:translate key="firstName" /></td>
            <td>{cart.firstName}</td>
        </tr>
        <tr>
            <td><f:translate key="lastName" /></td>
            <td>{cart.lastName}</td>
        </tr>
        <tr>
            <td><f:translate key="address" /></td>
            <td>{cart.address}</td>
        </tr>
        <tr>
            <td><f:translate key="zip" /></td>
            <td>{cart.zip}</td>
        </tr>
        <tr>
            <td><f:translate key="city" /></td>
            <td>{cart.city}</td>
        </tr>
        <tr>
            <td><f:translate key="email" /></td>
            <td>{cart.email}</td>
        </tr>
        <tr>
            <td><f:translate key="orderDate" /></td>
            <td><f:format.date format="d.m.Y H:i:s">now</f:format.date></td>
        </tr>
        </tbody>
    </table>

    <h2><f:translate key="productOrder" /></h2>

    <table>
        <f:for each="{cart.products}" as="product" iteration="productIterator">
            <thead>
            <tr>
                <th><f:translate key="title" /></th>
                <th><f:translate key="color" /></th>
                <th><f:translate key="size" /></th>
                <th><f:translate key="lettering" /></th>
            </tr>
            </thead>
            <tbody>
            <f:if condition="{product.variants}">
                <f:then>
                    <f:variable name="amountOfVariants">{product.variants -> f:count()}</f:variable>
                    <f:for each="{product.variants}" as="variant" iteration="variantIterator">
                        <tr>
                            <f:if condition="{variantIterator.isFirst}">
                                <td rowspan="{amountOfVariants + 2}">
                                    {product.title}
                                </td>
                            </f:if>
                            <td>{variant.selectedColor.title}</td>
                            <td>{variant.selectedSize.title}</td>
                            <td>{variant.selectedLettering}</td>
                        </tr>
                    </f:for>
                </f:then>
                <f:else>
                    <tr>
                        <td rowspan="3">
                            {product.title}
                        </td>
                    </tr>
                </f:else>
            </f:if>
            <tr>
                <th><f:translate key="amount" /></th>
                <th><f:translate key="priceSingle" /></th>
                <th><f:translate key="priceTotal" /></th>
            </tr>
            <tr>
                <td>{product.amount}</td>
                <td><f:render partial="General" section="renderPrice" arguments="{price: product.price}" /></td>
                <td><f:render partial="General" section="renderPrice" arguments="{price: product.priceTotal}" /></td>
            </tr>
            </tbody>
        </f:for>
        <tr>
            <td colspan="2">&nbsp;</td>
            <td><strong><f:translate key="sum" />:</strong></td>
            <td>
                <strong>
                    <f:render partial="General" section="renderPrice" arguments="{price: cart.priceTotal}" />
                </strong>
            </td>
        </tr>
    </table>
</f:section>
