<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <f:render partial="FlashMessages" />

    <div class="frame-layout-100 text-right">
        <div class="grid">
            <div class="col-6 text-left">
                <f:link.action action="list" controller="Shop">
                    Zurück zu den Produkten
                </f:link.action>
                <br>
                <f:link.action action="clearCart" controller="Shop">
                    Warenkorb leeren
                </f:link.action>
                <br>
                <f:link.action action="cart" controller="Shop">
                    Hier geht es zum Warenkorb
                </f:link.action>
            </div>
            <div class="col-6 text-right">
                <f:form action="search" controller="Shop">
                    <f:form.textfield name="search" placeholder="Shop durchsuchen" value="{search}" />
                </f:form>
            </div>
        </div>
    </div>

    <f:render partial="ListProducts" arguments="{products: products}"/>

    <div class="frame-layout-100 text-right">
        <f:link.action action="cart" controller="Shop">
            Hier geht es zum Warenkorb
        </f:link.action>
    </div>
</f:section>
