<div class="frame-layout-100 text-right">
    <div class="grid">
        <div class="col-6 text-left">
            <f:link.action action="list"
                           controller="Shop">
                <f:translate key="backToShop" />
            </f:link.action>
        </div>
        <div class="col-6 text-right">
            <f:link.action action="clearCart"
                           controller="Shop">
                <f:translate key="emptyCart" />
            </f:link.action>
        </div>
    </div>
</div>
